<h1 style="padding-left: 1em;">About</h1>
<p class="my-tab">
  This web application can be used to simulate how intraocular pressure (IOP) and aqueous humor outflow rate change
  under various conditions and surgical procedures. The application makes calculations using the same model used in our
  paper <a href="https://doi.org/10.1016/j.exer.2021.108620">"Modelling the Effects of Glaucoma Surgery on Intraocular Pressure"</a>.
</p>
<p class="my-tab">
  The model was written in Python by Nicholas Farrar and Mark Johnson based on a previous model by David B Yan, Roger D
  Kamm and Mark Johnson.
</p>


