<h1 style="padding-left: 1em;">Disclaimer</h1>
<p class="my-tab">
  The Model has been made available for informational and educational purposes only. Northwestern does not make any representation or warranties with respect to the accuracy, applicability, fitness, or completeness of the Model.
  <br>
  <br>
  The Model is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read or seen on the Site.
  <br>
  <br>
  Northwestern does not recommend or endorse any specific tests, procedures, opinions, or other information that may be mentioned on the Site. Descriptions of, references to, or links to other products, publications, or services does not imply endorsement of any kind. Reliance on any information provided by the Site is solely at your own risk.
  <br>
  <br>
  Northwestern hereby disclaims any and all liability to any party for any direct, indirect, implied, punitive, special, incidental or other consequential damages arising directly or indirectly from any use of the Site, which is provided as is, and without warranties.
</p>
